In [16]:
!pwd
# os.chdir('../')
# !pwd

from glob import glob
from matplotlib import pyplot as plt
import numpy as np
import os
from skimage.io import imread
import numpy as np
import pandas as pd
import df_utils
from pytorch_lightning import seed_everything
from sklearn.model_selection import train_test_split

/home/genrev_kiel_hizon/SAR_flood_segmentation/src

## Generate Annotations CSV

In [2]:
seed_everything(42, workers=True)

Global seed set to 42

42

In [3]:
train_df = df_utils.create_df('../data/train/train/')
train_df.head()

,vv_image_path,vh_image_path,flood_label_path,water_body_label_path,region
0,../data/train/train/bangladesh_20170314t115609...,../data/train/train/bangladesh_20170314t115609...,../data/train/train/bangladesh_20170314t115609...,../data/train/train/bangladesh_20170314t115609...,bangladesh
1,../data/train/train/bangladesh_20170314t115609...,../data/train/train/bangladesh_20170314t115609...,../data/train/train/bangladesh_20170314t115609...,../data/train/train/bangladesh_20170314t115609...,bangladesh
2,../data/train/train/bangladesh_20170314t115609...,../data/train/train/bangladesh_20170314t115609...,../data/train/train/bangladesh_20170314t115609...,../data/train/train/bangladesh_20170314t115609...,bangladesh
3,../data/train/train/bangladesh_20170314t115609...,../data/train/train/bangladesh_20170314t115609...,../data/train/train/bangladesh_20170314t115609...,../data/train/train/bangladesh_20170314t115609...,bangladesh
4,../data/train/train/bangladesh_20170314t115609...,../data/train/train/bangladesh_20170314t115609...,../data/train/train/bangladesh_20170314t115609...,../data/train/train/bangladesh_20170314t115609...,bangladesh

In [4]:
val_df = df_utils.create_df('../data/val_with_ref_labels/test')
val_df.head()

,vv_image_path,vh_image_path,flood_label_path,water_body_label_path,region
0,../data/val_with_ref_labels/test/florence_2018...,../data/val_with_ref_labels/test/florence_2018...,../data/val_with_ref_labels/test/florence_2018...,../data/val_with_ref_labels/test/florence_2018...,florence
1,../data/val_with_ref_labels/test/florence_2018...,../data/val_with_ref_labels/test/florence_2018...,../data/val_with_ref_labels/test/florence_2018...,../data/val_with_ref_labels/test/florence_2018...,florence
2,../data/val_with_ref_labels/test/florence_2018...,../data/val_with_ref_labels/test/florence_2018...,../data/val_with_ref_labels/test/florence_2018...,../data/val_with_ref_labels/test/florence_2018...,florence
3,../data/val_with_ref_labels/test/florence_2018...,../data/val_with_ref_labels/test/florence_2018...,../data/val_with_ref_labels/test/florence_2018...,../data/val_with_ref_labels/test/florence_2018...,florence
4,../data/val_with_ref_labels/test/florence_2018...,../data/val_with_ref_labels/test/florence_2018...,../data/val_with_ref_labels/test/florence_2018...,../data/val_with_ref_labels/test/florence_2018...,florence

## Find images with significant flooding

In [5]:
train_df['has_mask'] = train_df['flood_label_path'].apply(df_utils.has_mask)

In [6]:
val_df['has_mask'] = val_df['flood_label_path'].apply(df_utils.has_mask)

In [7]:
train_df['has_mask'].value_counts()

False    22471
True     10934
Name: has_mask, dtype: int64

In [8]:
val_df['has_mask'].value_counts()

False    7290
True     3110
Name: has_mask, dtype: int64

## Find images where the satellite image is binary (invalid)

In [9]:
train_df['invalid'] = (train_df['vv_image_path'].apply(df_utils.remove_binary))
val_df['invalid'] = (val_df['vv_image_path'].apply(df_utils.remove_binary))

In [10]:
train_df[(train_df['invalid']==True) & (train_df['has_mask']==True)].sample(10)

,vv_image_path,vh_image_path,flood_label_path,water_body_label_path,region,has_mask,invalid
7841,../data/train/train/nebraska_20170213t002121/t...,../data/train/train/nebraska_20170213t002121/t...,../data/train/train/nebraska_20170213t002121/t...,../data/train/train/nebraska_20170213t002121/t...,nebraska,True,True
9913,../data/train/train/nebraska_20170402t002111/t...,../data/train/train/nebraska_20170402t002111/t...,../data/train/train/nebraska_20170402t002111/t...,../data/train/train/nebraska_20170402t002111/t...,nebraska,True,True
15415,../data/train/train/nebraska_20171116t002120/t...,../data/train/train/nebraska_20171116t002120/t...,../data/train/train/nebraska_20171116t002120/t...,../data/train/train/nebraska_20171116t002120/t...,nebraska,True,True
18096,../data/train/train/nebraska_20171222t002118/t...,../data/train/train/nebraska_20171222t002118/t...,../data/train/train/nebraska_20171222t002118/t...,../data/train/train/nebraska_20171222t002118/t...,nebraska,True,True
7799,../data/train/train/nebraska_20170213t002121/t...,../data/train/train/nebraska_20170213t002121/t...,../data/train/train/nebraska_20170213t002121/t...,../data/train/train/nebraska_20170213t002121/t...,nebraska,True,True
17436,../data/train/train/nebraska_20171222t002118/t...,../data/train/train/nebraska_20171222t002118/t...,../data/train/train/nebraska_20171222t002118/t...,../data/train/train/nebraska_20171222t002118/t...,nebraska,True,True
10712,../data/train/train/nebraska_20170508t002113/t...,../data/train/train/nebraska_20170508t002113/t...,../data/train/train/nebraska_20170508t002113/t...,../data/train/train/nebraska_20170508t002113/t...,nebraska,True,True
16913,../data/train/train/nebraska_20171210t002119/t...,../data/train/train/nebraska_20171210t002119/t...,../data/train/train/nebraska_20171210t002119/t...,../data/train/train/nebraska_20171210t002119/t...,nebraska,True,True
14066,../data/train/train/nebraska_20170731t002118/t...,../data/train/train/nebraska_20170731t002118/t...,../data/train/train/nebraska_20170731t002118/t...,../data/train/train/nebraska_20170731t002118/t...,nebraska,True,True
15107,../data/train/train/nebraska_20170929t002120/t...,../data/train/train/nebraska_20170929t002120/t...,../data/train/train/nebraska_20170929t002120/t...,../data/train/train/nebraska_20170929t002120/t...,nebraska,True,True

## Remove Invalid

In [11]:
train_df = train_df[train_df['invalid']!=True]
val_df = val_df[val_df['invalid']!=True]

## Split val -> val, test

In [12]:
val, test = train_test_split(val_df, stratify=val_df['has_mask'], test_size=0.5)

## Save final product to CSV

In [13]:
train_df.to_csv('../data/train.csv')
val.to_csv('../data/val.csv')
test.to_csv('../data/test.csv')

## Exploration

In [14]:
print(f'Train: {train_df.shape}')
print(f'Val: {val.shape}')
print(f'Test: {test.shape}')

Train: (25015, 7)
Val: (3294, 7)
Test: (3295, 7)

In [15]:
print(f'Train: {train_df[train_df.has_mask==True].shape}')
print(f'Val: {val[val.has_mask==True].shape}')
print(f'Test: {test[test.has_mask==True].shape}')

Train: (10292, 7)
Val: (1534, 7)
Test: (1535, 7)

In [23]:
train_df = pd.read_csv('../data/train.csv', index_col=0)
train_df['Set'] = 'Train'

val_df = pd.read_csv('../data/val.csv', index_col=0)
val_df['Set'] = 'Val'

test_df = pd.read_csv('../data/test.csv', index_col=0)
test_df['Set'] = 'Test'

df = pd.concat([train_df, val_df, test_df])

In [29]:
pd.pivot_table(df, values='vh_image_path', index='Set', columns='has_mask',
               aggfunc='count', margins=True)

has_mask  False   True    All
Set
Test       1760   1535   3295
Train     14723  10292  25015
Val        1760   1534   3294
All       18243  13361  31604

In [127]:
from skimage.io import imread
img = train_df.iloc[5]['vh_image_path']

img = imread(img, as_gray=True)
img = np.stack([img, img, img], axis=2)
mask = img[:,:,0]

# convert to tensor
img = TF.to_tensor(img).float()
mask = TF.to_tensor(mask).float()

img.shape

torch.Size([3, 256, 256])

In [128]:
def segTransformer(image, mask):
    _, img_w, img_h = image.shape
    #Random horizontal flipping:
    if np.random.random() > 0.5:
        image = TF.hflip(image)
        mask = TF.hflip(mask)
        
    #Random rotate:
    if np.random.random() > 0.5:
        angle = np.random.uniform(-30, 30)
        image = TF.rotate(image, angle, fill=(1,1,1))
        mask = TF.rotate(mask, angle, fill=(0,))
        
    #Random Affine
    if np.random.random() > 0.4:
        affine_param = T.RandomAffine.get_params(
            degrees = [-30, 30], translate = [0.3,0.3],  
            img_size = [img_w, img_h], scale_ranges = [1, 1.3], 
            shears = [2,2])
        image = TF.affine(image, 
                          affine_param[0], affine_param[1],
                          affine_param[2], affine_param[3], fill=(1,1,1)
                         )
        mask = TF.affine(mask, 
                         affine_param[0], affine_param[1],
                         affine_param[2], affine_param[3], fill=(0,)
                        )
    
    
    return {
        'image': image,
        'mask': mask
    }

In [129]:
sample = segTransformer(img, mask)
sample['image'].shape

torch.Size([3, 256, 256])

In [132]:
sample['mask'].squeeze().shape

torch.Size([256, 256])